
body {
  font-family: Arial, sans-serif;
  background-color: #EAF4F4;
}

h2 {
  text-align: center;
  font-size: 24px;
  color: #000;
}

input[type="text"] {
  display: block;
  margin: 20px auto;
  padding: 10px;
  border-radius: 20px;
  border: none;
  width: 200px;
  background-color: #FFDD57;
  font-size: 16px;
}

button {
  background-color: #FFB545;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #E09A3B;
}


table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
  background-color: #FFDD57;
}

table th, table td {
  padding: 15px;
  text-align: left;
}

table th {
  background-color: #FFB545;
  color: white;
}

table td {
  border: 1px solid #FFB545;
}

div {
  text-align: center;
  margin-top: 20px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

select {
  display: inline-block;
  margin-left: 10px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #FFB545;
  color: white;
  font-size: 16px;
}

.statistics-box {
  width: 250px;
  background-color: #FFDD57;
  border-radius: 20px;
  padding: 15px;
  margin: 0 auto;
  text-align: left;
  font-family: Arial, sans-serif;
}

.statistics-box h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
}

.statistics-boxh3::after {
  font-size: 12px;
  font-weight: normal;
  color:black;
  margin-left: 5px;
}


.statistics-box p {
  font-size: 18px;
  margin: 5px 0;
  color: #000;
}


.statistics-box p::before {
  content: "";
  display: inline-block;
  width: 10px;
}




.input-container {
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 0px;
 align-items: center;
 width: 1500px;
}

/* Input styling */
.input-field {
  padding: 8px;
  font-size: 16px;
  width: 60%; 
}

.select-container {
  display: flex;
  align-items: center;
}


.select-dropdown {
  padding: 8px;
  font-size: 16px;
  margin-left: 10px; 
}

.truncate-text {
  max-width: 150px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
